<!DOCTYPE html>
<html>

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9732ZVZ34"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z9732ZVZ34');
  </script>
  <!-- Google Analytics -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MWR4V2BF');</script>
  <!-- End Google Tag Manager -->


  <title>{{ title }}</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  <!-- Icon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/bw-musicplayer.png') }}">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body style="margin-top:12%;">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWR4V2BF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container">
    <div class="row">
      <form action="" method="post">
        <div class="col s12">
          <div class="card z-depth-0">
            <div class="card-content">
              <span class="card-title">
                <div class="animated bounce">
                  <h5>YouTube MP4 Downloader</h5>
                </div>
              </span>
              <!-- <blockquote>
                      Download Audio(.mp3), Video(.mp4), playlists of audio and video (.zip) at the best quality out there.
                  </blockquote> -->
              <div class="row">
                <div class="input-field col s12 m10">
                  <input id="text" type="text" class="validate" name="url" value="{{request.form.url}}">
                  <label for="text">YouTube URL</label>
                </div>
                <div class="input-field col s12 m2">
                  <button data-target="modal1" class="waves-effect waves-light btn z-depth-4 grey darken-4">Type</button>

                  <!-- Modal Structure -->
                  <div class="">
                    <div id="modal1" class="modal">
                      <div class="modal-content">
                        <h4>Type</h4>

                        <p style="margin:2% 0 1%;">
                          <input name="submit" value="1" type="radio" id="test1" checked/>
                          <label class="grey-text text-darken-3" for="test1">Audio (.mp3)</label>
                        </p>

                        <p style="margin:2% 0 1%;">
                          <input name="submit" value="2" type="radio" id="test2" />
                          <label class="grey-text text-darken-3" for="test2">Video (.mp4)</label>
                        </p>
                        <p style="margin:2% 0 1%;">
                          <input name="submit" value="3" type="radio" id="test3" />
                          <label class="grey-text text-darken-3" for="test3">Audio Playlist (.zip)</label>
                        </p>
                        <p style="margin:2% 0 1%;">
                          <input name="submit" value="4" type="radio" id="test4" />
                          <label class="grey-text text-darken-3" for="test4">Video Playlist (.zip)</label>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="modal-action modal-close waves-effect waves-black btn-flat grey darken-4 z-depth-4 white-text">Go</buttton>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="card-action center">
              <small>Powered by<a target="_blank" href="https://holdingaccess.com"> HARL</a></small>

            </div>
      </form>
      </div>
      </div>
    </div>

  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
    $(document).ready(function() {
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
  </script>
</body>

</html>
